body {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    width: 100%;
    background-color: #111314; 
    color: white; 
    
}
header h1 {
    text-align: center;
}

footer {
    width: 100%;
    display: flex !important; 
    justify-content: space-between; 
    align-items: flex-start;
    background: #111;
    color: #fff;
    padding: 10px 40px;
    gap: 20px;
    margin: 0 !important;
}

.footer-left,
.footer-right {
    border-bottom: 2px solid #e67e22;
    width: 45%; 
}

.footer h3 {
    margin-bottom: 8px;
    font-size: 20px;
    border-bottom: 2px solid #e67e22;
    display: inline-block;
    padding-bottom: 4px;
    
}

.footer p {
    margin: 4px 0;
    font-size: 14px;
    opacity: 0.9;
}


  body {
     overflow-x: hidden;
  }   
    

#container_principal {
width: 100%;
  max-width: 2000px;
  height: 750px;
  overflow: hidden;
  position: relative;
    
.cursor {
      cursor: pointer;
  }
header {
    padding: 30px;
       width: 100%;
}
    
    
header h1 {
    text-align: center;
}
 .fondo {
    
     background-color: #000000;
 }


.panolens-infospot {
    pointer-events: auto !important;
    z-index: 9999 !important;
}

.swal2-container {
    z-index: 10000 !important;
}
}